.container-search {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  max-width: 860px;
  min-height: 80%;
  padding: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.input-container {
  width: 100%;
  max-width: 245px;
}

.info-header {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #dedede;
  justify-content: space-between;
  padding: 0px 50px 20px 50px;
}

.search-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: var(--title-primary);
}

.search-default {
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  color: var(--title-secondary);
}

.container-list {
  display: flex;
  padding: 36px;
  flex-wrap: wrap;
  justify-content: center;
}

.button-box {
  display: flex;
  justify-content: flex-end;
}

.button-single {
  width: 50px;
}

.button-single:last-of-type {
  margin-left: 3px;
}

@media (max-width: 768px) {
  .container-search {
    padding: 0;
    height: 100%;
  }

  .search-title {
    display: none;
  }

  .info-header {
      padding: 25px 25px 20px 25px;
      border: none;
  }

  .input-container {
    max-width: 768px;
  }

  .container-list {
    padding: 0px 15px 15px 15px;
  }
}
